body{
	/**text-align: center;**/
}

h1 {
	color: rgb(2,132,130);
}

h2 {
	color: #FFd700;
}

nav{
	background-color: #808080;
}

nav a {
	background-color: #ffbf00;
	color: #ffffff;
	padding: 35px;
	display: block;
	float:left;
}

a:hover {
	background-color: #ee5f3c;
}

footer {
	background-color: #808080;
	text-align: center;
}

img {
	height: 200px;
	width: 150px;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size:0;
}

.board {
	height:50%;
	width:50%;
	display: inline-block;
}

.card {
	height: 200px;
	width: 150px;
	border: 1px solid #000000;
	background: rgb(255,255,0);
	border-radius: 10px;
	float: left;
	margin: 8%;
}

.name {
	color: #ff0000;
}

.content {
	width: 50%;
	font-size:1.2em;
	text-align: center;
}

.button {
	width:36%;
	text-align: center;
}